{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "tabWidth": 4,
        "singleQuote": false
      }
    },
    {
      "files": "*.ts",
      "options": {
        "tabWidth": 2,
        "singleQuote": true,
        "trailingComma": "all"
      }
    }
  ]
}
