.connect-container {
    display: inline-block;
    float: right;
}


.navbar {
  background-color: #52a9ff;
  padding: 16px 24px;
  display: flex;
  justify-content: flex-start; /* Left aligned */
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.menu {
  display: flex;
  gap: 24px; /* spacing between menu items */
}

.menuItem {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.menuItem:hover {
  color: #00c6ff;
}
